<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SIM-PPDB</title>
  {{ style('style') }}
</head>

<style>
    .logo{
      padding-top: 5px;
      height: 100vh;
      
      text-align: center;
      display: block
    }
</style>
<body>
  <section>
    <div class="logo">
        <H1>SELAMAT DATANG</H1>
        <br>
        <img width='200'  height='150' src='/images/rest-api-logo.png'  />
        <br>
        <h5>RESTfull API SERVICE PPDB System Ver. 2.00
          <div style="font-weight: normal">Copyright &copf; 2021</div>
        </h5>
    </div>
    <div class="title"></div>
    <div class="subtitle">

    </div>
   
  </section>
</body>
</html>