<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>

<body>
  <center>
    <table width="100%" >
      <tr style="background-color: grey ">
        <td style="text-align: center; color: white">
          <div><h3>SIAMANDA</h3></div>
        </td>
      </tr>
</table>
  <td style="align-items: center">
    <table width="50%">
      <tr>
        <td>
          <h5>Hai, Ujang Selamat datang</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus culpa distinctio quibusdam numquam temporibus, at voluptate minima provident atque voluptas perspiciatis eligendi amet sed neque nemo labore similique ut repellat!</p>
        </td>
      </tr>
    </table>
    <table width="50%" style="border: 1px; border-style: dashed; padding: 10px">
      <tr>
        <td>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus rerum, perferendis obcaecati libero quo ratione id fugiat, quod voluptate ut minima! Facere id impedit eligendi sapiente, adipisci cum ex quia?
        </td>
      </tr>

    </table>
  </center>
  
</body>
</html>