<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>

<body>
  <center>
    <table width="100%" >
      <tr style="background-color: grey ">
        <td style="text-align: center; color: white">
          <div><h3>SIAMANDA</h3></div>
        </td>
      </tr>
</table>
  <td style="align-items: center">
    <table width="50%">
      <tr>
        <td>
          <h5>Hai, Ujang Selamat datang</h5>
          <p>Anda telah melakukan permohonan reset kata sandi ke dalam sistem, dengan ini kami sampaikan reset kata sandi anda yang baru sebagai berikut :</p>
        </td>
      </tr>
    </table>
    <table width="50%" style="border: 1px; border-style: dashed; padding: 10px">
      <tr>
        <td>
          Pengguna
        </td>
        <td>:</td>
        <td>admin@ants.loc</td>
      </tr>
      <tr>
          <td>Kata Sandi</td>
          <td>:</td>
          <td>kusumah</td>
      </tr>

    </table>
  </center>
  
</body>
</html>